@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

body {
  @apply bg-background text-zinc-100 antialiased selection:bg-primary-500/30;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-700;
}

/* Glassmorphism utility */
@layer utilities {
  .glass-card {
    @apply bg-surface/50 backdrop-blur-xl border border-white/5 shadow-xl shadow-black/50;
  }
}
